@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {

    --white: #FFF;

    --green-500: #31A65E;

    --gray-100: #E1E1E6;
    --gray-200: #D3D3D3;
    --gray-400: #444;
    --gray-500: #545458;
    --gray-700: #29292E;
    --gray-800: #202024;
    
    --blue-500: #575C7A;
    --blue-700: #29292E;

    --red-danger: 

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    background-color: var(--gray-700);
    font-family: "Montserrat", sans-serif;
    --webkit-font-smoothing: antialiased;
    color: var(--gray-100);

    font-size: 0.875rem;
}